flask==3.0.0
flask-socketio==5.3.6
flask-pymongo==2.3.0
python-dotenv==1.0.0
tweepy==4.14.0
openai==1.58.1
anthropic==0.18.1
PyNaCl==1.5.0
base58==2.1.1
requests==2.31.0
gevent-websocket==0.10.1
google-generativeai==0.3.2 